$name: "AdminCompra";

.#{$name}_body{
width: 98vw;
display: flex;
flex-direction: column;
align-items: center;
}
.#{$name}_box{
    width: 90vw;
    min-height: 90vh;
    background-color: white;
    position: relative;
 
}
.#{$name}_Informacoes_Container{
    width: 70%;
    height: 800px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.3);
    
}

.#{$name}_Titulo_Container{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.#{$name}_Titulo_Text{
    font-size: 20px;
}
.#{$name}_Texts_Container{
width: 50%;
position: relative;
left: 3%;
}
.#{$name}_Status_Container{
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    inline-size: max-content;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    
}
.#{$name}_Status_Container p{
    position: relative;
    border: none !important;
    top: 5px;
}
.#{$name}_Texts_Container h6{
    font-size: 20px;
}
.#{$name}_Texts_Container p{
    inline-size: max-content;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.#{$name}_Texts_TituloItem{
    border: none !important;
}
.#{$name}_Texts_text{
    position: relative;
    left: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.#{$name}_Table_column1{
    width: 55%;
    padding-left: 20px;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.#{$name}_Table_column2{
    width: 15%;
    text-align: end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.#{$name}_Table_column3{
    padding-right: 10px;
    width: 15%;
    text-align: end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.#{$name}_body table tfoot{
    width: 180%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
