$name: "FazerParte";

.#{$name}_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        left: 4%;
        position: relative;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:900;
        font-size: 50px;
        font-style: italic;
    }
}
.#{$name}_container_1{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 100%;
        object-fit: contain;
    }
    div{
        width: 30%;
  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: visible;
        position: absolute;
        left:80%;
        a{
            width: 30%;
            border-bottom: 2px solid rgb(0, 225, 255);
          
        }
        h1{
            font-size: 1em !important;
            
        }
      
    }
    
    
}
.#{$name}_container_2{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div{
        width: 20%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width: 1200px ) {
  
}
@media only screen and (min-width: 800px ) and (max-width:1100px) {
    .#{$name}_container_2{
        
        div{
           h1{font-size: 2em;}
           p{font-size: 1em;}
        }
        img{
            width: 20em;
            object-fit: contain;
        }
    }
   
   
}
@media only screen and (min-width: 500px ) and (max-width:800px) {
    .#{$name}_container_2{
        
        div{
           h1{font-size: 1em;}
           p{font-size: 0.7em;}
        }
        img{
            width: 20em;
            object-fit: contain;
        }
    }
   
}
@media only screen and (max-width: 500px ) {
    .#{$name}_container_2{
        flex-direction: column;
        div{
            width: 100%;
           h1{font-size: 1em;}
           p{font-size: 0.7em;}
        }
        img{
            width: 20em;
            object-fit: contain;
        }
    }
   
}