

.BoxProduto{
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.BoxImage{
    width: 400px;
    height: 400px;
    background-color: #D9D9D9;
}
.ImageProduto{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.BoxInformacoes{

    height: 400px;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.TextBox{
    width: 100%;
    height: 100px;
    
}
.ButtonBox{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    
}
.Button{
    width: 200px;
    height: 70px;
    border-radius: 20px;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgb(117, 117, 117);
    transition: all 0.5s;
    z-index: 2;
}
.Button:hover{
    top: -10px;
    box-shadow: 8px 8px 2px rgb(117, 117, 117);
}
.Valor{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Quantidade{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}
.BoxDescricao{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 1000px;
}
.BoxTituloDescricao{
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
   

}
.bookImage{
    width: 80px;
    height: 80px;
}
.TituloDescricao{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.BoxTextDescricao{
    width: 80%;
    position: relative;
    top: 20px;
    

}

@media only screen and (max-width: 800px ) {
    .BoxProduto{
        
        flex-direction: column;
        
    }
    .Button{
        width: 150px;
        text-align: center;
        transition: all 0.5s;
        
    }
    
}