@mixin box_Center($direction){
    display: flex;
    @if($direction=='horizontal'){
        flex-direction: row;
    }
    @else{
        flex-direction: column;
    }
    align-items: center;
    justify-content: center;

}