body {
    background-color: #FFFFFF;
}

nav h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}
nav h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #00AECD;
}

nav img {
    left: -10px;
    position: relative;
}

.nav2 {
    width: 100%;
    height: 10%;
    background-color: #424242;
    position: absolute;
    top:5%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow:hidden
}
.nav3 {
    width: 100%;
    height: 7%;
    background-color: #D9D9D9;
    position: absolute;
    top: 15%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: visible
}
.nav3 a{
    height:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding-Left:10px;
     padding-Right:10px;
    text-decoration: none;
    color: black;
}
.nav3 .active{
    background-color: #00AECD;
    color: white;
}

