$name:"Sobre";

.#{$name}_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        left: 4%;
        position: relative;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:900;
        font-size: 50px;
        font-style: italic;
    }
}

.#{$name}_container_1{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    div{
        width: 450px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: visible;
        position: absolute;
        transform: translateY(-50px
        );
        left: 60%;
        a{
            width: 30%;
            border-bottom: 2px solid rgb(0, 225, 255);
        }
    }
    
    
}
.#{$name}_container_2{
    width:90%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: hidden;
    div{
        width: 30%;
        h6{
            font-size: 1em;
            padding-bottom: 20px;
            width: 110px;
            border-bottom: 2px solid rgb(0, 225, 255);
        }
        p{
            font-size: 0.7em;
        }
        h1{
            font-size: 2em!important;
        }
       
    }
    img{
        width: 50em;
        object-fit: contain;
    }
}
.#{$name}_container_3{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    flex-wrap: wrap;
    gap: 20px;
}
.#{$name}_imagesInstituto{
    width: 20em;
    height: 20em;
    object-fit: cover;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 15px 15px 0px rgba($color: #000000, $alpha: 0.6);
}
.#{$name}_imagesInstituto:hover{
    background-color: rgba($color: #000000, $alpha: 1.0);
    background-size: cover;
    filter:saturate(0) brightness(0.7);
    transform: scale(0.9) translate(-57%);
    box-shadow: 8px 8px 0px rgba($color: #000000, $alpha: 0.6);
}
.#{$name}_imagesOverlay{
    max-width: 40vw;
    max-height: 40vw;
}

.#{$name}_imagesOverlay_nextPage{
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 15;
    left: 90%;
    opacity: 0.7;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/icon_nextPage.png');
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(1);
}
.#{$name}_imagesOverlay_nextPage:hover{
    animation: nextButton 2s  ease-out 0s infinite normal forwards;
    opacity: 1;
    
    @keyframes nextButton {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1); 
        }
    }
}
.#{$name}_imagesOverlay_backPage{
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 15;
    left: 5%;
    opacity: 0.7;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/icon_nextPage.png');
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(-1);
}
.#{$name}_imagesOverlay_backPage:hover{
    animation: backButton 2s  ease-out 0s infinite normal forwards;
    opacity: 1;
    
    @keyframes backButton {
        0%{
            transform: scale(-1);
        }
        50%{
            transform: scale(-1.1);
        }
        100%{
            transform: scale(-1); 
        }
    }
}
.#{$name}_container_membros{
    padding-bottom: 40px;
    width: 80%;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 0px);
    position: relative;
    gap: 40px;
    justify-content: space-around;

}

@media only screen and (min-width: 1200px ) {
    .#{$name}_container_2{
      
        div{

            h6{
                font-size: 1em;
               
            }
            p{
                font-size: 1em;
            }
           
        }
        img{
            width: 50em;
   
        }
    }
    .#{$name}_container_membros{
      
        grid-template-columns: repeat(3, 0px);
       
    
    }
}
@media only screen and (min-width: 800px ) and (max-width:1100px) {
    .#{$name}_container_2{
      
        div{

            h6{
                font-size: 1em;
               
            }
            p{
                font-size: 0.7em;
            }
           
        }
        img{
            width: 35em;
   
        }
    }
    .#{$name}_container_membros{
      
        grid-template-columns: repeat(2, 0px);
       
    
    }  
   
}
@media only screen and (min-width: 500px ) and (max-width:800px) {
    .#{$name}_container_2{
      
        div{

            h6{
                font-size: 0.7em;
               
            }
            p{
                font-size: 0.7em;
            }
           
        }
        img{
            width: 30em;
   
        }
    }
    .#{$name}_container_membros{
      
        grid-template-columns: repeat(1, 0px);
       
    
    }
   
}
@media only screen and (max-width: 500px ) {
    .#{$name}_container_2{
      flex-direction: column;
        div{
            width: 100%;
            h6{
                font-size: 0.7em;
               
            }
            p{
                font-size: 0.7em;
            }
           
        }
        img{
            width: 10em;
   
        }
    }
    .#{$name}_container_membros{
      
        grid-template-columns: repeat(1, 0px);
       
    
    }
}

