.ContainerRegistar{
    width: 518px;
    height: 90%;
    background-color: white;
    box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.TituloRegistrar{
    font-size: 40px;
}
.inputRegistrar{
    width: 80%;
    height: 60px;
    background-color: #D9D9D9;
    border: none;
    text-align: center;
}
.ButtonRegistrar{
    width: 80%;
    height: 70px;
    background-color: #67EFFA;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    transition: all 0.5s;

}
.ButtonRegistrar:hover{
    background-color: #3c989e;
}